.newProduct{
    flex: 4;
    margin-left: 20px;
}


.addProductForm{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.addProductItem{
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-right: 20px;
}

.addProductItem>label{
margin-bottom: 10px;
font-size: 14px;
font-weight: 600;
color: grey;
}
.addProductItem>input{
    height: 20px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}
#active{
    height: 40px;
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.addProductButton{
    width: 200px;
    border: none;
    background-color: darkblue;
    color: white;
    padding: 7px 10px;
    font-weight: 600;
    border-radius: 10px;
    margin-top: 30px;
    cursor: pointer;
}
#file{
    border: none;
}